<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <title>Zeebe Simple Tasklist</title>
  	
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

		<link rel="stylesheet" type="text/css" href="/css/app.css" />

    <link rel=icon href="/img/favicon.ico">
    
</head>

<body onload="connect()" onunload="disconnect()">

	<nav class="navbar navbar-expand-md navbar-light bg-white mb-2 top-nav-border">
		<a class="navbar-brand" href="/">
			<img src="/img/logo.png" width="40" alt="Logo">
			<span class="h4">Zeebe Simple Tasklist</span>
		</a>
		
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a class="nav-link" href="/views/all-tasks/">All Tasks</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/views/my-tasks/">My Tasks</a>
				</li>
				
				{{#user.isAdmin}}
					<li class="nav-item">
						<a class="nav-link" href="/views/users/">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/views/groups/">Groups</a>
					</li>
				{{/user.isAdmin}}					
					
			</ul>

		{{#user}}
		
			<div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, {{name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          
          <form class="dropdown-item" action="/logout" method="post">
				    <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf.token}}" />
				    <button type="submit" class="btn btn-primary">Logout</button>
				  </form>
				  
        </div>
      </div>			
		
		{{/user}}
		
		</div>
	</nav>
			
	<div class="container-fluid">
	
		<div id="errorPanel" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Error:</strong> <span id="errorText"></span>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div id="successPanel" class="alert alert-success alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Success:</strong> <span id="successText"></span>
		  (<a href="#" onClick="reload()">Refresh</a>)
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div id="infoPanel" class="alert alert-primary alert-dismissible fade show" style="display:none;" role="alert">
		  <strong>Info:</strong> <span id="infoText"></span>
		  (<a href="#" onClick="reload()">Refresh</a>)
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
